.products {
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  font-family: "Inter";
}

.products--padding {
  padding: 0 2rem;
}
.products__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}
.products__product {
  width: 100%;
  height: 420px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000;
}

.products__product-img {
  padding: 10px;
  width: 100%;
  height: 80%;
}

.products__product-des {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.BsFillCartPlusFill {
  font-size: 40px;
}

.products__addtocart {
  height: 50px;
}

.products__product-des p {
  font-size: 14px;
}
