.addtocart {
  height: 500px;
}

.addtocart__btn {
  width: 110px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  border: none;
  outline: none;
  box-shadow: 0 0 3px #000;
}

.IconContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
  background: rgb(2, 32, 2);
  background: linear-gradient(
    90deg,
    rgba(2, 32, 2, 1) 0%,
    rgba(6, 117, 6, 1) 100%
  );
  margin-left: 3px;
}

.text {
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}

.addtocart__btn:hover .IconContainer {
  width: 90%;
  border-radius: 40px;
  transition-duration: 0.3s;
  margin-left: 0;
}

.addtocart__btn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.addtocart__btn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

.BsFillPlusCircleFill {
  font-size: 18px;
  color: #fff;
}
