@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: rgb(223, 232, 226);
  background: linear-gradient(90deg, rgba(223, 232, 226, 1) 0%, rgba(194, 230, 206, 1) 100%);
  color: #000 !important;
}
